name: Build

on:
  push:
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set-up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup and build with Gradle
      uses: gradle/gradle-build-action@v3
      with:
        arguments: assembleDebug assembleRelease -x lint -x lintVitalMinifiedRelease -x lintVitalRelease

    - name: Sign Release APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.KEY_ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        BUILD_TOOLS_VERSION: "34.0.0"

    - name: Upload Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: Continuum-debug-${{github.sha}}
        path: app/build/outputs/apk/debug/*.apk
        if-no-files-found: error

    - name: Upload Signed Release APK
      uses: actions/upload-artifact@v4
      with:
        name: Continuum-release-${{github.sha}}
        path: ${{steps.sign_app.outputs.signedReleaseFile}}
        if-no-files-found: error

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v2
      with:
        files: ${{steps.sign_app.outputs.signedReleaseFile}}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
